@charset 'UTF-8';

.wrapper {
    /*height: 100%;*/
    background-color: orange;
}

.content {
    background-color: red;
    margin-left: 21%;

}

.container {
    background-color: pink;
}

.sidebar {
    height: 80%;
    width: 20%;
    background-color: blue;
    position: fixed;
    top: 3%;
}

.sidebar ul {
    list-style: none;
}
